@model Restaurante

@{
    ViewBag.Title = Model.Nombre;
}

<div class="restaurante-detalles">
    <h1>@Model.Nombre</h1>


    <div>
        <div>
            Id: @Model.Id
        </div>
    </div>
    <div>
        Cocina: @Model.Cocina
    </div>
</div>

<br/>

<a asp-action="Index" asp-controller="Home">Home</a>